.column {
    display: block;
}

.boxclose{
    float:right;
    margin-top:-30px;
    margin-right:-30px;
    cursor:pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;       
}

@media screen and (min-width: 480px) and (max-width : 1366px) {
    .row {
        display: table;
        width: 100%;
        margin: auto;
    }

    .column {
        display: table-cell;
    }
}

.centervertical {
    display: table; 
    width: 100%;
    margin: auto;
}

.centerverticalchild {
    display: table-cell;
    vertical-align: middle;
}

.center {
    margin: 0px auto;
}

.bigblock {
    height: 270px;
    width:90%;
    display:inline-block;
}

.divtable {
    display: table;
    margin: auto;
}

.whitebg {
    background-color:white;
}

.slateblue {
    color: #4169E1;
}

.bordr {
    border:10px solid #4169E1;
}

.themecolor {
    color: #e74e10;
}

.themecolorbg {
    background-color: #e74e10;
}

.divtable {
    display: table;
    margin: auto;
}

.divrowtext {
    display: table-row;
    text-align: center;
}

.divrowbutton {
    display: table-row;
    text-align: center;
}

.divtext {
    display: table-cell;
    vertical-align: top;
}

.divtextcenter {
    display: table-cell;
    vertical-align: middle;
}

.divbutton {
    display: table-cell;
    vertical-align: bottom;
    padding-bottom: 5px;
}

.divhorizontal {
    display: inline-block;
}

.size {
	height: auto;
	width: auto;
}

.divhorizontal {
    display: inline-block;
}

.textcenter {
    text-align: center;
}

.floating-left {    
    float:left;
    margin-left: 20px;
}
.noUnderline {
    text-decoration:none;
}

a:hover, a:active {
    color:slateblue;
    text-decoration:none;
}

.padding20px {
    padding: 0px 20px;
}

.modal-content {
   background-image: url('bg.jpeg');
   background-repeat: no-repeat;
   background-size: cover;
}

.fontsize250 {
    font-size: 250%;
}

.fontsize150 {
    font-size: 150%;
}